:root {
	--black: 0, 0, 0;
	--white: 255, 255, 255;
	--primary: 0, 123, 255;
	--secondary: 108, 117, 125;
	--success: 40, 167, 69;
	--danger: 220, 53, 69;
	--warning: 255, 193, 7;
	--info: 23, 162, 184;

	--paragraph-text-black: 25, 25, 25;
	--paragraph-text-white: 250, 250, 250;
	--paragraph-text-primary: 10, 123, 255;
	--paragraph-text-secondary: 118, 117, 125;
	--paragraph-text-success: 50, 167, 69;
	--paragraph-text-danger: 230, 53, 69;
	--paragraph-text-warning: 155, 193, 7;
	--paragraph-text-info: 33, 162, 184;

}
